:root {
  --range-thumb-width: var(--form-field-padding-x);
  --range-thumb-height: calc(var(--form-field-height) - var(--form-field-padding-y) * 2);
  --range-track-height: calc(var(--form-field-padding-y) / 2);
  --range-thumb-offset: calc(var(--range-thumb-height) / -2 + var(--range-track-height) / 2);
  --range-thumb-pseudo-size: var(--form-field-height);
}
:root {
  --field-success-color: var(--green);
  --field-warning-color: var(--yellow);
  --field-error-color: var(--red);
}
:root {
  --field-focus-color: var(--blue);
  --field-success-color: var(--green);
  --field-warning-color: var(--yellow);
  --field-error-color: var(--red);
}
:root {
  --body-color: var(--black);
  --body-background-color: white;
  --link-color: var(--blue);
  --link-text-decoration: none;
  --link-hover-text-decoration: underline;
  --pre-background-color: transparent;
  --pre-border-radius: var(--border-radius);
  --rule-border-width: var(--border-width);
  --rule-border-color: var(--border-color);

  --button-color: white;
  --button-background-color: var(--blue);
}
:root {
  --container-width: 64rem;
}
:root {
  --button-small-padding-y: .25rem;
  --button-small-padding-x: .5rem;
  --button-big-padding-y: 1rem;
  --button-big-padding-x: 1.25rem;
  --button-narrow-padding-x: var(--space-1);
}
:root {
  --font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --container-width: 820px;
  --yellow: rgba(255, 220, 0, .45);
  --orange: #FC561E;
  --button-line-height: 1;
  --sb-progress-height: 8px;
  --button-big-padding-x: 1.25rem;
  --button-big-padding-y: 1.25rem;
}
:root {
  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4;
}
:root {
  --font-family: 'Helvetica Neue', Helvetica, sans-serif;
  --line-height: 1.5;
  --body-font-size: 100%;
  --heading-font-family: var(--font-family);
  --heading-font-weight: bold;
  --heading-line-height: 1.25;
  --heading-margin-top: 1em;
  --heading-margin-bottom: .5em;
  --paragraph-font-size: var(--h4);
  --paragraph-margin-top: 0;
  --paragraph-margin-bottom: var(--space-2);
  --list-font-size: var(--h4);
  --list-margin-top: 0;
  --list-margin-bottom: var(--space-2);
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;
  --pre-font-size: inherit;
  --pre-margin-top: 0;
  --pre-margin-bottom: var(--space-2);
  --rule-margin-top: var(--space-3);
  --rule-margin-bottom: var(--space-3);
  --blockquote-font-size: var(--h3);
  --blockquote-font-style: italic;
  --blockquote-margin: var(--space-3) 0;
  --blockquote-padding: 0 var(--space-2);
}
:root {
  --form-field-font-family: inherit;
  --form-field-font-size: 1rem;
  --form-field-height: 2.25rem;
  --form-field-padding-y: .5rem;
  --form-field-padding-x: .5rem;
}
:root {
  --button-font-family: inherit;
  --button-font-size: inherit;
  --button-font-weight: var(--bold-font-weight, bold);
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;
}
:root {

  /* Cool */

  --aqua:   #7fdbff;
  --blue:   #0074d9;
  --navy:   #001f3f;
  --teal:   #39cccc;
  --green:  #2ecc40;
  --olive:  #3d9970;
  --lime:   #01ff70;


  /* Warm */

  --yellow: #ffdc00;
  --orange: #ff851b;
  --red:    #ff4136;
  --fuchsia:#f012be;
  --purple: #b10dc9;
  --maroon: #85144b;


  /* Gray scale */

  --white:  #fff;
  --silver: #ddd;
  --gray:   #aaa;
  --black:  #111;

}
:root {

  --font-family: 'Helvetica Neue', Helvetica, sans-serif;
  --line-height: 1.5;
  --heading-font-family: var(--font-family);
  --heading-font-weight: bold;
  --heading-line-height: 1.25;
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;
  --bold-font-weight: bold;
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
  --form-field-font-size: 1rem;
  --form-field-height: 2.25rem;
  --form-field-padding-y: .5rem;
  --form-field-padding-x: .5rem;
  --button-font-size: inherit;
  --button-font-weight: bold;
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;
  --container-width: 64em;

  --darken-1: rgba(0, 0, 0, .0625);
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25);
  --darken-4: rgba(0, 0, 0, .5);

  --lighten-1: rgba(255, 255, 255, .0625);
  --lighten-2: rgba(255, 255, 255, .125);
  --lighten-3: rgba(255, 255, 255, .25);
  --lighten-4: rgba(255, 255, 255, .5);

  --border-width: 1px;
  --border-radius: 3px;
  --border-color: var(--darken-2);

}
:root {
  --table-header-font-weight: var(--bold-font-weight);
  --table-cell-padding-x: var(--space-2);
  --table-cell-padding-y: .25rem;
}
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

#podcast-app {

  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
  }
  .hljs-comment,
  .hljs-quote {
    color: #998;
    font-style: italic;
  }
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: #333;
    font-weight: bold;
  }
  .hljs-number,
  .hljs-literal,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag .hljs-attr {
    color: #008080;
  }
  .hljs-string,
  .hljs-doctag {
    color: #d14;
  }
  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: #900;
    font-weight: bold;
  }
  .hljs-subst {
    font-weight: normal;
  }
  .hljs-type,
  .hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
  }
  .hljs-tag,
  .hljs-name,
  .hljs-attribute {
    color: #000080;
    font-weight: normal;
  }
  .hljs-regexp,
  .hljs-link {
    color: #009926;
  }
  .hljs-symbol,
  .hljs-bullet {
    color: #990073;
  }
  .hljs-built_in,
  .hljs-builtin-name {
    color: #0086b3;
  }
  .hljs-meta {
    color: #999;
    font-weight: bold;
  }
  .hljs-deletion {
    background: #fdd;
  }
  .hljs-addition {
    background: #dfd;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }
  body { margin: 0 }
  img { max-width: 100% }
  svg { max-height: 100% }
  /* Basscss Base Forms */
  input,
  select,
  textarea,
  fieldset {
    font-family: var(--form-field-font-family);
    font-size: var(--form-field-font-size);
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
  }
  input[type=text],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=time],
  input[type=url],
  input[type=week] {
    height: var(--form-field-height);
    padding: var(--form-field-padding-y) var(--form-field-padding-x);
    vertical-align: middle;
    -webkit-appearance: none;
  }
  select {
    line-height: 1.75;
    padding: var(--form-field-padding-y) var(--form-field-padding-x);
  }
  select:not([multiple]) {
    height: var(--form-field-height);
    vertical-align: middle;
  }
  textarea {
    line-height: 1.75;
    padding: var(--form-field-padding-y) var(--form-field-padding-x);
  }
  .fieldset-reset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0;
  }
  .fieldset-reset legend {
    padding: 0;
  }

  /* Basscss Base Buttons */
  /* This module has been deprecated in favor of basscss-btn */
  button,
  .button {
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: var(--button-line-height);
    padding: var(--button-padding-y) var(--button-padding-x);
    margin: 0;
    height: auto;
    border: var(--border-width) solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
  }
  button,
  button::after,
  button::before,
  .button,
  .button::after,
  .button::before {
    box-sizing: border-box;
    box-sizing: border-box;
  }
  ::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .button:hover { text-decoration: none }

  /* Basscss Base Tables */
  /* Basscss Defaults */
  /*

     COLOR VARIABLES

     - Cool
     - Warm
     - Gray Scale

  */

  table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
  }
  th {
    text-align: left;
    font-weight: var(--table-header-font-weight);
  }
  th,
  td {
    padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
    line-height: inherit;
  }
  th { vertical-align: bottom }
  td { vertical-align: top }

  /* Basscss Base Typography */
  body {
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: var(--body-font-size);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    margin-top: var(--heading-margin-top);
    margin-bottom: var(--heading-margin-bottom);
  }
  p {
    font-size: var(--paragraph-font-size);
    margin-top: var(--paragraph-margin-top);
    margin-bottom: var(--paragraph-margin-bottom);
  }
  dl, ol, ul {
    font-size: var(--list-font-size);
    margin-top: var(--list-margin-top);
    margin-bottom: var(--list-margin-bottom);
  }
  pre, code, samp {
    font-family: var(--monospace-font-family);
    font-size: var(--pre-font-size);
  }
  pre {
    margin-top: var(--pre-margin-top);
    margin-bottom: var(--pre-margin-bottom);
    overflow-x: scroll;
  }
  hr {
    margin-top: var(--rule-margin-top);
    margin-bottom: var(--rule-margin-bottom);
  }
  blockquote {
    margin: var(--blockquote-margin);
    padding: var(--blockquote-padding);
  }
  blockquote,
  blockquote p {
    font-size: var(--blockquote-font-size);
    font-style: var(--blockquote-font-style);
  }
  h1, .h1 { font-size: var(--h1) }
  h2, .h2 { font-size: var(--h2) }
  h3, .h3 { font-size: var(--h3) }
  h4, .h4 { font-size: var(--h4) }
  h5, .h5 { font-size: var(--h5) }
  h6, .h6 { font-size: var(--h6) }
  .list-reset {
    list-style: none;
    padding-left: 0;
  }
  /* Basscss Utility Layout */
  .inline       { display: inline }
  .block        { display: block }
  .inline-block { display: inline-block }
  .table        { display: table }
  .table-cell   { display: table-cell }
  .overflow-hidden { overflow: hidden }
  .overflow-scroll { overflow: scroll }
  .overflow-auto   { overflow: auto }
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table
  }
  .clearfix:after { clear: both }
  .left  { float: left }
  .right { float: right }
  .fit { max-width: 100% }
  .half-width { width: 50% }
  .full-width { width: 100% }
  /* Basscss Utility Typography */
  .bold    { font-weight: var(--bold-font-weight, bold) }
  .regular { font-weight: normal }
  .italic  { font-style: italic }
  .caps    { text-transform: uppercase; letter-spacing: .2em; }
  .left-align   { text-align: left }
  .center       { text-align: center }
  .right-align  { text-align: right }
  .justify      { text-align: justify }
  .nowrap { white-space: nowrap }
  .break-word { word-wrap: break-word }
  .truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* Basscss Utility White Space */
  .m0  { margin:        0 }
  .mt0 { margin-top:    0 }
  .mr0 { margin-right:  0 }
  .mb0 { margin-bottom: 0 }
  .ml0 { margin-left:   0 }
  .m1  { margin:        var(--space-1) }
  .mt1 { margin-top:    var(--space-1) }
  .mr1 { margin-right:  var(--space-1) }
  .mb1 { margin-bottom: var(--space-1) }
  .ml1 { margin-left:   var(--space-1) }
  .m2  { margin:        var(--space-2) }
  .mt2 { margin-top:    var(--space-2) }
  .mr2 { margin-right:  var(--space-2) }
  .mb2 { margin-bottom: var(--space-2) }
  .ml2 { margin-left:   var(--space-2) }
  .m3  { margin:        var(--space-3) }
  .mt3 { margin-top:    var(--space-3) }
  .mr3 { margin-right:  var(--space-3) }
  .mb3 { margin-bottom: var(--space-3) }
  .ml3 { margin-left:   var(--space-3) }
  .m4  { margin:        var(--space-4) }
  .mt4 { margin-top:    var(--space-4) }
  .mr4 { margin-right:  var(--space-4) }
  .mb4 { margin-bottom: var(--space-4) }
  .ml4 { margin-left:   var(--space-4) }
  .mxn1 { margin-left: -var(--space-1); margin-right: -var(--space-1); }
  .mxn2 { margin-left: -var(--space-2); margin-right: -var(--space-2); }
  .mxn3 { margin-left: -var(--space-3); margin-right: -var(--space-3); }
  .mxn4 { margin-left: -var(--space-4); margin-right: -var(--space-4); }
  .mx-auto { margin-left: auto; margin-right: auto; }
  .p0 { padding: 0 }
  .p1  { padding:       var(--space-1) }
  .py1 { padding-top:   var(--space-1); padding-bottom: var(--space-1) }
  .px1 { padding-left:  var(--space-1); padding-right:  var(--space-1) }
  .p2  { padding:       var(--space-2) }
  .py2 { padding-top:   var(--space-2); padding-bottom: var(--space-2) }
  .px2 { padding-left:  var(--space-2); padding-right:  var(--space-2) }
  .p3  { padding:       var(--space-3) }
  .py3 { padding-top:   var(--space-3); padding-bottom: var(--space-3) }
  .px3 { padding-left:  var(--space-3); padding-right:  var(--space-3) }
  .p4  { padding:       var(--space-4) }
  .py4 { padding-top:   var(--space-4); padding-bottom: var(--space-4) }
  .px4 { padding-left:  var(--space-4); padding-right:  var(--space-4) }
  /* Basscss Utility Responsive States */
  .sm-show, .md-show, .lg-show {
    display: none !important
  }
  @media (min-width: 40em) {
    .sm-show { display: block !important }
  }
  @media (min-width: 52em) {
    .md-show { display: block !important }
  }
  @media (min-width: 64em) {
    .lg-show { display: block !important }
  }
  @media (min-width: 40em) {
    .sm-hide { display: none !important }
  }
  @media (min-width: 52em) {
    .md-hide { display: none !important }
  }
  @media (min-width: 64em) {
    .lg-hide { display: none !important }
  }
  .display-none { display: none !important }
  .hide {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  /* Basscss Positions */
  .relative { position: relative }
  .absolute { position: absolute }
  .fixed    { position: fixed }
  .top-0    { top: 0 }
  .right-0  { right: 0 }
  .bottom-0 { bottom: 0 }
  .left-0   { left: 0 }
  .z1 { z-index: var(--z1) }
  .z2 { z-index: var(--z2) }
  .z3 { z-index: var(--z3) }
  .z4 { z-index: var(--z4) }

  /* Basscss UI Utility Button Sizes */
  .btn-small {
    padding: var(--button-small-padding-y) var(--button-small-padding-x);
  }
  .btn-big {
    padding: var(--button-big-padding-y) var(--button-big-padding-x);
  }
  .btn-narrow {
    padding-left: var(--button-narrow-padding-x);
    padding-right: var(--button-narrow-padding-x);
  }

  /* Basscss Grid */
  .container {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
  }
  .col {
    float: left;
    box-sizing: border-box;
  }
  .col-right {
    float: right;
    box-sizing: border-box;
  }
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
  @media (min-width: 40em) {

    .sm-col {
      float: left;
      box-sizing: border-box;
    }

    .sm-col-right {
      float: right;
      box-sizing: border-box;
    }

    .sm-col-1 {
      width: 8.33333%;
    }

    .sm-col-2 {
      width: 16.66667%;
    }

    .sm-col-3 {
      width: 25%;
    }

    .sm-col-4 {
      width: 33.33333%;
    }

    .sm-col-5 {
      width: 41.66667%;
    }

    .sm-col-6 {
      width: 50%;
    }

    .sm-col-7 {
      width: 58.33333%;
    }

    .sm-col-8 {
      width: 66.66667%;
    }

    .sm-col-9 {
      width: 75%;
    }

    .sm-col-10 {
      width: 83.33333%;
    }

    .sm-col-11 {
      width: 91.66667%;
    }

    .sm-col-12 {
      width: 100%;
    }

  }
  @media (min-width: 52em) {

    .md-col {
      float: left;
      box-sizing: border-box;
    }

    .md-col-right {
      float: right;
      box-sizing: border-box;
    }

    .md-col-1 {
      width: 8.33333%;
    }

    .md-col-2 {
      width: 16.66667%;
    }

    .md-col-3 {
      width: 25%;
    }

    .md-col-4 {
      width: 33.33333%;
    }

    .md-col-5 {
      width: 41.66667%;
    }

    .md-col-6 {
      width: 50%;
    }

    .md-col-7 {
      width: 58.33333%;
    }

    .md-col-8 {
      width: 66.66667%;
    }

    .md-col-9 {
      width: 75%;
    }

    .md-col-10 {
      width: 83.33333%;
    }

    .md-col-11 {
      width: 91.66667%;
    }

    .md-col-12 {
      width: 100%;
    }

  }
  @media (min-width: 64em) {

    .lg-col {
      float: left;
      box-sizing: border-box;
    }

    .lg-col-right {
      float: right;
      box-sizing: border-box;
    }

    .lg-col-1 {
      width: 8.33333%;
    }

    .lg-col-2 {
      width: 16.66667%;
    }

    .lg-col-3 {
      width: 25%;
    }

    .lg-col-4 {
      width: 33.33333%;
    }

    .lg-col-5 {
      width: 41.66667%;
    }

    .lg-col-6 {
      width: 50%;
    }

    .lg-col-7 {
      width: 58.33333%;
    }

    .lg-col-8 {
      width: 66.66667%;
    }

    .lg-col-9 {
      width: 75%;
    }

    .lg-col-10 {
      width: 83.33333%;
    }

    .lg-col-11 {
      width: 91.66667%;
    }

    .lg-col-12 {
      width: 100%;
    }

  }
  /* Flex Object */
  .flex { display: flex }
  .flex-column  { flex-direction: column }
  .flex-wrap    { flex-wrap: wrap }
  .flex-center   { align-items: center }
  .flex-baseline { align-items: baseline }
  .flex-stretch  { align-items: stretch }
  .flex-start    { align-items: flex-start }
  .flex-end      { align-items: flex-end }
  .flex-justify  { justify-content: space-between }
  .flex-first { order: -1 }
  .flex-last  { order: 1024 }
  .flex-auto { flex: 1 1 auto }
  .flex-grow { flex: 1 0 auto }
  .flex-none { flex: none }
  .flex > div { box-sizing: border-box }
  @media (min-width: 40em) {
    .sm-flex { display: flex }
    .sm-flex > div { box-sizing: border-box }
  }
  @media (min-width: 52em) {
    .md-flex { display: flex }
    .md-flex > div { box-sizing: border-box }
  }
  @media (min-width: 64em) {
    .lg-flex { display: flex }
    .lg-flex > div { box-sizing: border-box }
  }
  /* Basscss Color Base */
  body {
    color: var(--body-color);
    background-color: var(--body-background-color);
  }
  a {
    color: var(--link-color);
    text-decoration: var(--link-text-decoration);
  }
  a:hover {
    text-decoration: var(--link-hover-text-decoration);
  }
  pre, code {
    background-color: var(--pre-background-color);
    border-radius: var(--pre-border-radius);
  }
  hr {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: var(--rule-border-width);
    border-bottom-color: var(--rule-border-color);
  }

  /* Basscss Color Forms */
  .field-light {
    background-color: white;
    transition: box-shadow .2s ease;
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
  }
  .field-light:focus,
  .field-light.is-focused {
    outline: none;
    border-color: var(--field-focus-color);
    box-shadow: 0 0 0 2px color(var(--field-focus-color) a(.5));
  }
  .field-light:disabled,
  .field-light.is-disabled {
    background-color: var(--darken-2);
    opacity: .5;
  }
  .field-light:-moz-read-only:not(select),
  .field-light.is-read-only {
    background-color: var(--darken-2);
  }
  .field-light:read-only:not(select),
  .field-light.is-read-only {
    background-color: var(--darken-2);
  }
  .field-light.is-success {
    border-color: var(--field-success-color);
  }
  .field-light.is-success:focus,
  .field-light.is-success.is-focused {
    box-shadow: 0 0 0 2px color(var(--field-success-color) a(.5));
  }
  .field-light.is-warning {
    border-color: var(--field-warning-color);
  }
  .field-light.is-warning:focus,
  .field-light.is-warning.is-focused {
    box-shadow: 0 0 0 2px color(var(--field-warning-color) a(.5));
  }
  .field-light:invalid,
  .field-light.is-error {
    border-color: var(--field-error-color);
  }
  .field-light.is-error:focus,
  .field-light.is-error.is-focused {
    box-shadow: 0 0 0 2px color(var(--field-error-color) a(.5));
  }

  /* Basscss Color Forms Dark */
  .field-dark {
    color: white;
    background-color: var(--darken-3);
    border: 1px solid var(--darken-1);
    border-radius: var(--border-radius, 3px);
  }
  .field-dark::placeholder {
    color: rgba(255, 255, 255, .75);
  }
  .field-dark:focus {
    outline: 0;
    border: 1px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .25);
  }
  .field-dark:-moz-read-only:not(select) {
    background-color: rgba(255, 255, 255, .25);
  }
  .field-dark:read-only:not(select) {
    background-color: rgba(255, 255, 255, .25);
  }
  .field-dark.is-success {
    border-color: var(--field-success-color);
  }
  .field-dark.is-success:focus {
    box-shadow: 0 0 0 2px color(var(--field-success-color) a(.5));
  }
  .field-dark.is-warning {
    border-color: var(--field-warning-color);
  }
  .field-dark.is-warning:focus {
    box-shadow: 0 0 0 2px color(var(--field-warning-color) a(.5));
  }
  .field-dark:invalid,
  .field-dark.is-error {
    border-color: var(--field-error-color);
  }
  .field-dark.is-error:focus {
    box-shadow: 0 0 0 2px color(var(--field-error-color) a(.5));
  }

  /* Basscss Input Range */
  input[type=range] {
    vertical-align: middle;
    background-color: transparent;
  }
  .range-light {
    color: inherit;
    -webkit-appearance: none;
    padding-top: var(--form-field-padding-y);
    padding-bottom: var(--form-field-padding-y);
  }
  .range-light::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: var(--range-thumb-width);
    height: var(--range-thumb-height);
    border-radius: var(--border-radius);
    background-color: currentcolor;
    cursor: pointer;
    margin-top: var(--range-thumb-offset);
  }
  /* Touch screen friendly pseudo element */
  .range-light::-webkit-slider-thumb:before {
    content: '';
    display: block;
    position: absolute;
    top: calc(-0.5 * var(--range-thumb-pseudo-size) + 0.5 * var(--range-thumb-height));
    left: calc(-0.5 * var(--range-thumb-pseudo-size) + 0.5 * var(--range-thumb-width));
    width: var(--range-thumb-pseudo-size);
    height: var(--range-thumb-pseudo-size);
    opacity: 0;
  }
  .range-light::-moz-range-thumb {
    width: var(--range-thumb-width);
    height: var(--range-thumb-height);
    border-radius: var(--border-radius);
    border-color: transparent;
    border-width: 0;
    background-color: currentcolor;
    cursor: pointer;
  }
  .range-light::-webkit-slider-runnable-track {
    height: var(--range-track-height);
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--darken-3);
  }
  .range-light::-moz-range-track {
    height: var(--range-track-height);
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--darken-3);
  }
  .range-light:focus {
    outline: none;
  }
  .range-light:focus::-webkit-slider-thumb {
    outline: none;
    border: 0;
    box-shadow: 0 0 1px 2px currentcolor;
  }
  .range-light:focus::-moz-range-thumb {
    outline: none;
    border: 0;
    box-shadow: 0 0 0 3px var(--darken-3);
  }

  /* Basscss Progress */
  .progress {
    display: block;
    width: 100%;
    height: calc(var(--form-field-height) / 4);
    margin: var(--form-field-padding-y) 0;
    background-color: var(--darken-2);
    border: 0;
    border-radius: 10000px;
    overflow: hidden;
    -webkit-appearance: none;
  }
  .progress::-webkit-progress-bar {
    -webkit-appearance: none;
    background-color: var(--darken-2)
  }
  .progress::-webkit-progress-value {
    -webkit-appearance: none;
    background-color: currentColor;
  }
  .progress::-moz-progress-bar {
    background-color: currentColor;
  }
  /* Basscss Color Tables */
  .table-light th,
  .table-light td {
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
  }
  .table-light tr:last-child td {
    border-bottom: 0;
  }
  /* Basscss Button Outline */
  /* This module has been deprecated in favor of basscss-btn-outline */
  .button-outline {
    position: relative;
    z-index: 2;
    color: inherit;
    background-color: transparent;
    border-radius: var(--border-radius);
    border: var(--border-width) solid currentcolor;
  }
  .button-outline::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -var(--border-width);
    right: -var(--border-width);
    bottom: -var(--border-width);
    left: -var(--border-width);
    border: var(--border-width) solid transparent;
    background-color: currentcolor;
    border-radius: var(--border-radius);
    opacity: 0;
  }
  .button-outline:hover {
    box-shadow: none;
  }
  .button-outline:hover::before,
  .button-outline:focus::before {
    opacity: .125;
  }
  .button-outline:focus {
    outline: none;
    border: var(--border-width) solid currentcolor;
    box-shadow: 0 0 0 2px;
  }
  .button-outline:active,
  .button-outline.is-active {
    box-shadow: inset 0 1px 5px 0, 0 0 1px;
  }
  .button-outline:disabled,
  .button-outline.is-disabled {
    opacity: .5;
  }
  /* Basscss Button Transparent */
  /* This module has been deprecated in favor of basscss-btn */
  .button-transparent {
    position: relative;
    z-index: 2;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
    border: var(--border-width) solid transparent;
  }
  .button-transparent::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -var(--border-width);
    right: -var(--border-width);
    bottom: -var(--border-width);
    left: -var(--border-width);
    border: var(--border-width) solid transparent;
    background-color: currentcolor;
    opacity: 0;
  }
  .button-transparent:hover {
    box-shadow: none;
  }
  .button-transparent:hover::before,
  .button-transparent:focus::before {
    opacity: .09375;
  }
  .button-transparent:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 2px;
  }
  .button-transparent:active,
  .button-transparent.is-active {
    box-shadow: none;
  }
  .button-transparent:active::before,
  .button-transparent.is-active::before {
    opacity: .0625;
  }
  .button-transparent:disabled,
  .button-transparent.is-disabled {
    opacity: .5;
  }
  /* Basscss Background Images */
  .bg-cover   { background-size: cover }
  .bg-contain { background-size: contain }
  .bg-center  { background-position: center }
  .bg-top     { background-position: top }
  .bg-right   { background-position: right }
  .bg-bottom  { background-position: bottom }
  .bg-left    { background-position: left }
  /* Basscss Color Borders */
  .border {
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color);
  }
  .border-top {
    border-top-style: solid;
    border-top-width: var(--border-width);
    border-top-color: var(--border-color);
  }
  .border-right {
    border-right-style: solid;
    border-right-width: var(--border-width);
    border-right-color: var(--border-color);
  }
  .border-bottom {
    border-bottom-style: solid;
    border-bottom-width: var(--border-width);
    border-bottom-color: var(--border-color);
  }
  .border-left {
    border-left-style: solid;
    border-left-width: var(--border-width);
    border-left-color: var(--border-color);
  }
  .no-border { border: 0 }
  .rounded { border-radius: var(--border-radius) }
  .circle  { border-radius: 50% }
  .rounded-top    { border-radius: var(--border-radius) var(--border-radius) 0 0 }
  .rounded-right  { border-radius: 0 var(--border-radius) var(--border-radius) 0 }
  .rounded-bottom { border-radius: 0 0 var(--border-radius) var(--border-radius) }
  .rounded-left   { border-radius: var(--border-radius) 0 0 var(--border-radius) }
  .not-rounded { border-radius: 0 }
  /* Basscss Colors */
  .black, .dark-gray   { color: var(--black) }
  .gray, .mid-gray     { color: var(--gray) }
  .silver, .light-gray { color: var(--silver) }
  .white { color: var(--white) }
  .aqua  { color: var(--aqua) }
  .blue  { color: var(--blue) }
  .navy  { color: var(--navy) }
  .teal  { color: var(--teal) }
  .green { color: var(--green) }
  .olive { color: var(--olive) }
  .lime  { color: var(--lime) }
  .yellow  { color: var(--yellow) }
  .orange  { color: var(--orange) }
  .red     { color: var(--red) }
  .fuchsia { color: var(--fuchsia) }
  .purple  { color: var(--purple) }
  .maroon  { color: var(--maroon) }
  .bg-black, .bg-dark-gray   { background-color: var(--black) }
  .bg-gray, .bg-mid-gray     { background-color: var(--gray) }
  .bg-silver, .bg-light-gray { background-color: var(--silver) }
  .bg-white  { background-color: var(--white) }
  .bg-aqua  { background-color: var(--aqua) }
  .bg-blue  { background-color: var(--blue) }
  .bg-navy  { background-color: var(--navy) }
  .bg-teal  { background-color: var(--teal) }
  .bg-green { background-color: var(--green) }
  .bg-olive { background-color: var(--olive) }
  .bg-lime  { background-color: var(--lime) }
  .bg-yellow  { background-color: var(--yellow) }
  .bg-orange  { background-color: var(--orange) }
  .bg-red     { background-color: var(--red) }
  .bg-fuchsia { background-color: var(--fuchsia) }
  .bg-purple  { background-color: var(--purple) }
  .bg-maroon  { background-color: var(--maroon) }
  .bg-darken-1 { background-color: var(--darken-1) }
  .bg-darken-2 { background-color: var(--darken-2) }
  .bg-darken-3 { background-color: var(--darken-3) }
  .bg-darken-4 { background-color: var(--darken-4) }
  .border-black  { border-color: var(--black) }
  .border-gray   { border-color: var(--gray) }
  .border-silver { border-color: var(--silver) }
  .border-white  { border-color: var(--white) }
  .border-aqua  { border-color: var(--aqua) }
  .border-blue  { border-color: var(--blue) }
  .border-navy  { border-color: var(--navy) }
  .border-teal  { border-color: var(--teal) }
  .border-green { border-color: var(--green) }
  .border-olive { border-color: var(--olive) }
  .border-lime  { border-color: var(--lime) }
  .border-yellow  { border-color: var(--yellow) }
  .border-orange  { border-color: var(--orange) }
  .border-red     { border-color: var(--red) }
  .border-fuchsia { border-color: var(--fuchsia) }
  .border-purple  { border-color: var(--purple) }
  .border-maroon  { border-color: var(--maroon) }
  .border-darken-1 { border-color: var(--darken-1) }
  .border-darken-2 { border-color: var(--darken-2) }
  .border-darken-3 { border-color: var(--darken-3) }
  .border-darken-4 { border-color: var(--darken-4) }
  .muted { opacity: .5 }
  .color-inherit { color: inherit }
  .b2 {
    border-width: 2px;
  }
  header {
    background-image: linear-gradient(45deg, var(--teal), rgba(0, 255, 127, .7));
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
  }
  h2 a:hover {
    text-decoration: none;
  }
  .social-buttons {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .semibold {
    font-weight: 600;
  }
  .muted {
    opacity: .3;
  }
  .btn-small.btn-square {
    padding: .25rem .3rem;
  }
  .custom-track-bg::-webkit-slider-runnable-track {
    background-color: rgba(0, 0, 0, .25);
  }
  .custom-track-bg::-moz-range-track {
    background-color: rgba(0, 0, 0, .25);
  }
  .custom-track-bg::-ms-track {
    background-color: rgba(0, 0, 0, .25);
  }
  .custom-track-bg::-moz-range-thumb {
    background: #fff;
  }
  .custom-track-bg::-webkit-slider-thumb {
    background: #fff;
  }
  .custom-track-bg::-ms-thumb {
    background: #fff;
  }

}